/* TABLE OF CONTENTS */
div#toc {
	page-break-before:always;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
}

#toc p {
	text-align: center;
	font-size: 20px;
}
#toc a {
	border: none;
}

h1 {
	page-break-before:always
}
/* SIDE NOTES */
